<!doctype html>
<html ng-app="energyCalculator">
<head>
    <meta charset="utf-8" />
    <title>Calculates your energy usage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>

    <script type="application/javascript" src="scripts/controllers/mainController.js"></script>
    <script type="application/javascript" src="scripts/app.js"></script>
</head>
<body>
    <div class="container-fluid" ng-view></div>
</body>
</html>